/* LIGHT MODE //////////////////////////////////////////////////// */

:root {
  body.ThemeLight {
    /* ////////////////////////////////////////////////////////////////// */

    --Body: var(--White);

    --Track: var(--Trans1);
    --TrackHover: var(--Gray10);
    --Thumb: var(--Gray20);

    --UIBG: var(--Purple);
    --UIBGHover: var(--PurpleAlt);
    --UIBGDark: var(--PurpleDark);
    --UIText: var(--White);

    --Highlight: var(--Red);

    --TabBG: var(--Trans1);
    --TabBGHover: var(--Trans1);
    --TabText: var(--Gray40);
    --TabHover: var(--Gray20);
    --TabActive: var(--UIBG);

    --ButtonBG: var(--UIBG);
    --ButtonBGHover: var(--UIBGHover);
    --ButtonText: var(--Gray90);
    --ButtonBorder: var(--Gray30);
    --ButtonDisabled: var(--Gray20);
    --ButtonDisabledText: var(--Gray30);

    --ButtonGrayBG: var(--Gray30);
    --ButtonGrayBGHover: var(--Gray40);
    --ButtonGrayText: var(--White);

    --Headline: var(--Black);
    --Subhead: var(--Gray80);
    --Text: var(--Gray60);
    --Info: var(--Gray40);
    --LinkColor: var(--UIBG);
    --LinkHoverColor: var(--UIBGHover);

    --InputBG: var(--Gray20);
    --InputText: var(--UIBG);
    --InputPlaceholder: var(--Gray30);
    --InputBorder: var(--Gray30);

    --IconBG: var(--Gray60);
    --IconBGHover: var(--Gray10);
    --IconBorder: var(--Gray20);

    --MaskBG: var(--Gray60);
    --MaskBGHover: var(--Gray80);

    --CardBG: var(--Gray10);
    --CardBGHover: var(--Gray20);
    --CardBorder: var(--Gray20);
    --CardSubhead: var(--Gray80);
    --CardText: var(--Gray40);
    --CardLink: var(--Gray40);
    --CardHover: var(--UIBG);

    --AlertBarBG: var(--UIBG);
    --AlertBarText: var(--Gray10);
    --AlertBarLink: var(--Gray10);
    --AlertBarHover: var(--White);

    --TagBG: var(--White);
    --TagBGHover: var(--UIBG);
    --TagBorder: var(--Gray20);
    --TagText: var(--Gray40);
    --TagTextHover: var(--White);
  }
}

/* ////////////////////////////////////////////////////////////////// */

body.ThemeLight {
  .Post .PostFade {
    background: linear-gradient(to bottom, rgba(92, 107, 78, 0) 25%, rgba(92, 107, 78, 0.8) 75%);
    background: -webkit-linear-gradient(
      to bottom,
      rgba(92, 107, 78, 0) 25%,
      rgba(92, 107, 78, 0.8) 75%
    );
  }

  #SectionMasthead {
    background-color: rgba(0, 0, 0, 0.95) !important;
  }

  .PageBox .FormGroup .FormInput input {
    background-color: var(--White);
  }
}

/* ////////////////////////////////////////////////////////////////// */
