/* MASTHEAD */

/* ////////////////////////////////////////////////////////////////// */

.MastheadTable {
  display: table;
  width: 100%;
}
.MastheadCol {
  display: table-cell;
  vertical-align: middle;
}
.MastheadColMenu {
  width: 30px;
  padding-left: 10px;
  padding-right: 15px;
}
.MastheadColLogo {
  width: 220px;
  padding-right: 15px;
  padding-top: 4px;
}
.MastheadColNav {
  width: auto;
  text-align: right;
  padding-right: 15px;
}
.MastheadColMenu .ButtonBox .ButtonIcon {
  margin-right: 2px;
}

@media (max-width: 429.9px) {
  .MastheadColLogo {
    width: 140px;
  }
}

.MastheadScroll {
  border-bottom: solid 1px var(--CardBorder) !important;
}

/* ////////////////////////////////////////////////////////////////// */

.NavTable {
  display: table;
  float: right;
}
.NavCol {
  display: table-cell;
  vertical-align: middle;
  width: auto;
}
.NavColLeft {
  padding-left: 8px;
  font-size: var(--FSSmall);
}
.NavColRight {
  padding-left: 20px;
}

.NavColLeft a {
  padding: 0px 8px;
  color: var(--Gray20);
}
.NavColLeft a:hover {
  text-decoration: none;
  color: var(--White);
}

@media (max-width: 429.9px) {
  .NavColRight {
    display: none;
  }
}

@media (max-width: 799.9px) {
  .NavColLeft {
    display: none;
  }
}

@media (max-width: 849.9px) {
  #MastheadGuide {
    display: none;
  }
}

@media (max-width: 899.9px) {
  #MastheadTools {
    display: none;
  }
}

/* ////////////////////////////////////////////////////////////////// */

#SectionMasthead {
  padding: 8px 20px;
  margin-bottom: 15px;
  border-bottom: solid 1px var(--Trans1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#SectionMasthead .Content {
}

#SectionMasthead .Mask {
  background-color: var(--Gray20);
}

#SectionMasthead .ButtonIcon:hover {
  background-color: var(--Gray80);
}
#SectionMasthead .ButtonIcon:hover .Icon .Mask {
  background-color: var(--White);
}

/* ////////////////////////////////////////////////////////////////// */
