/* MENUS */

/* //////////////////////////////////////////////////////////////////// */

.Menu {
  display: block;
  width: 300px;
  margin: 0px;
  position: fixed;
  top: 0px;
  z-index: 3000;
  background-color: var(--CardBG);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (max-width: 1049.9px) {
  .Menu {
    width: 85%;
    max-width: 500px;
  }
}

/* //////////////////////////////////////////////////////////////////// */

.Menu .Close {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 3000;
  top: 10px;
}
.Menu .Close .Mask {
  background-color: var(--White);
}
.Menu .Close:hover {
  background-color: var(--Trans1);
}
.Menu .Close:hover .Mask {
  background-color: var(--White);
}

/* //////////////////////////////////////////////////////////////////// */

.MenuLeft {
  left: -85%;
  height: 100%;
}
.MenuLeftOpen {
  left: 0px !important;
}
.MenuLeftOpen .Close {
  display: block !important;
  right: -35px;
}

.MenuRight {
  right: -85%;
  height: 100%;
}
.MenuRightOpen {
  right: 0px !important;
}
.MenuRightOpen .Close {
  display: block !important;
  left: -35px;
}

/* //////////////////////////////////////////////////////////////////// */

.Menu .Content {
  padding: 15px 8px 15px 15px;
  height: 100%;
  position: relative;
}
.Menu .Card {
  margin: 0px auto;
  padding-right: 10px;
  height: calc(100% - 65px);
  overflow-x: hidden;
  overflow-y: auto;
}

/* //////////////////////////////////////////////////////////////////// */

.MenuGroup {
  margin-bottom: 40px;
}
.MenuGroup .Subhead {
  font-size: var(--FSSmall);
  color: var(--CardSubhead);
}
.MenuGroup .Text p {
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 14px;
}
.MenuGroup .Text a {
  color: var(--CardText);
  text-decoration: none;
}
.MenuGroup .Text a:hover {
  color: var(--CardHover);
}
.MenuGroup .Block:last-child {
  margin-bottom: 0px;
}
.MenuGroup .Text p:last-child {
  margin-bottom: 0px;
}
.Menu .MenuGroup:last-child {
  margin-bottom: 0px;
}

/* //////////////////////////////////////////////////////////////////// */

.MenuText {
  font-size: var(--FSSmall);
}
.MenuText a {
  text-decoration: underline !important;
}

/* //////////////////////////////////////////////////////////////////// */

#ThemeMenu {
}
#ThemeMenu .Auto {
  cursor: pointer;
}
#ThemeMenu .Active .AutoText {
  color: var(--UIBG);
}
#ThemeMenu .Active .Mask {
  background-color: var(--UIBG);
}

/* //////////////////////////////////////////////////////////////////// */
