/* /////////////////////////////////////////////////////////////////// */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@import './css/Appearance.css';
@import './css/Light.css';
@import './css/Dark.css';

/* /////////////////////////////////////////////////////////////////// */

@import './css/UI-Misc.css';
@import './css/Support.css';

@import './css/UI-Forms.css';
@import './css/UI-Icons.css';
@import './css/UI-Buttons.css';
@import './css/UI-Tabs.css';
@import './css/UI-Notices.css';
@import './css/UI-Menus.css';
@import './css/UI-Dropdowns.css';
@import './css/UI-Popups.css';

@import './css/UI-Masthead.css';

@import './css/UI-Chat.css';

@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: translateY(20px); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    /* transform: translateY(0); */
  }
  to {
    opacity: 0;
    /* transform: translateY(20px); */
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-out forwards;
}

.fade-out {
  animation: fadeOut 0.4s ease-out forwards;
}

/* /////////////////////////////////////////////////////////////////// */
